/* VARIABLES */

// Colors
$red: #ff525d;
$light-red: #ff7a85;
$dark-blue: #1f3f5b;
$white: #ffffff;
$grayish-blue: #c8c8cb67;
$d-grayish-blue: #4b5862;
$d-black-blue: #25252d;

// Fonts
$Ubuntu: "Ubuntu", sans-serif;
$Overpass: "Overpass", sans-serif;
